apiVersion: v1
kind: Pod
metadata:
  name: debugbox
  labels:
    app: debugbox
spec:
  restartPolicy: Never

  containers:
  - name: debugbox
    image: ghcr.io/ibtisam-iq/debugbox:balanced
    imagePullPolicy: Always

    command: ["/bin/bash", "-lc", "sleep infinity"]

    # Give access to basic system info
    securityContext:
      runAsUser: 0
      privileged: false

    resources:
      requests:
        cpu: "50m"
        memory: "128Mi"
      limits:
        cpu: "500m"
        memory: "256Mi"
