apiVersion: v1
kind: Pod
metadata:
  name: debugbox-privileged
  labels:
    app: debugbox
spec:
  restartPolicy: Never

  hostNetwork: true
  dnsPolicy: ClusterFirstWithHostNet

  containers:
  - name: debugbox
    image: ghcr.io/ibtisam-iq/debugbox:power
    imagePullPolicy: Always

    command: ["/bin/bash", "-lc", "sleep infinity"]

    securityContext:
      runAsUser: 0
      privileged: true
      capabilities:
        add:
          - NET_ADMIN
          - NET_RAW
          - SYS_ADMIN

    volumeMounts:
    - name: host-root
      mountPath: /host

  volumes:
  - name: host-root
    hostPath:
      path: /
      type: Directory

