apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: debugbox-clusterrole
  labels:
    app: debugbox
rules:
  - apiGroups: [""]
    resources:
      - nodes
      - nodes/proxy
      - pods
      - pods/exec
      - pods/log
      - services
      - endpoints
      - configmaps
      - secrets
    verbs:
      - get
      - list
      - watch
      - create
      - delete
      - update
      - patch
  - apiGroups: ["apps", "batch"]
    resources:
      - deployments
      - daemonsets
      - jobs
      - cronjobs
    verbs:
      - get
      - list
      - watch
      - create
      - delete
      - update
      - patch