{{- if .Values.rbac.create -}}
apiVersion: rbac.authorization.k8s.io/v1
kind: Role
metadata:
  name: debugbox-role
  labels:
    app: debugbox
rules:
  - apiGroups: [""]
    resources:
      - pods
      - pods/exec
      - pods/log
      - services
      - endpoints
      - configmaps
      - secrets
    verbs:
      - get
      - list
      - watch
      - create
      - delete
      - update
      - patch
{{- end -}}
